@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

:root {
  --gray-800: #161616;
  --gray-600: #1c1c1c;
  --gray-500: #848484;
  --gray-400: #737373;
  background-color: var(--gray-800);
}

.outer-wrapper {
  min-height: 100vh;
  height: auto;
  width: 100vw;

  /* flex box */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  height: 300px;
  width: 100%;
  background-color: #1c1c1c;
  border-bottom: 1px solid #363636;

  /* flex box */
  display: flex;
  align-items: center;
  justify-content: center;

  & header {
    height: 300px;
    width: 100%;
    max-width: 800px;
    background-color: #1c1c1c;

    padding: 0 24px 0 24px;

    /* grid */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    & a {
      height: 20px;
      text-decoration: none;
      color: var(--gray-400);

      grid-column: 6;
      grid-row: 2/3;
      cursor: pointer;
    }

    & h1 {
      color: white;
      font-size: 32px;
      font-weight: 600;
      grid-column: 1/3;
      grid-row: 3/4;
    }

    & p {
      color: var(--gray-500);

      grid-column: 1/5;
      grid-row: 4/6;
    }
  }
}

.main-wrapper {
  background-color: var(--gray-800);
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding-top: 4rem;

  /* flexbox */
  display: flex;
  justify-content: center;

  & main {
    height: 100%;
    width: 100%;
    max-width: 800px;
    background-color: var(--gray-800);
    padding: 0 24px 0 24px;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    & .home-post-container {
      height: 4rem;
      width: 100%;

      /* grid */
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;

      & h3 {
        color: white;

        font-weight: 600;
        grid-row: 1;
        grid-column: 1/3;
      }

      & .description {
        color: var(--gray-400);

        font-weight: 400;
        grid-row: 1;
        grid-column: 3/5;
      }

      & .date {
        color: var(--gray-400);

        font-weight: 400;
        grid-row: 1;
        grid-column: 6;
      }
    }
  }
}

.footer-wrapper {
  background-color: var(--gray-800);
  width: 100%;
  height: 4rem;
  margin-top: 4rem;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  & footer {
    padding: 0 24px 0 24px;
    background-color: var(--gray-800);
    width: 100%;
    max-width: 800px;
    height: 4rem;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    & p {
      color: var(--gray-400);
      grid-column: 1/3;
    }
    & .portfolio-footer-link {
      color: var(--gray-400);
    }

    & .btn-container {
      display: flex;
      justify-content: space-around;
      width: 6rem;
      height: 2rem;

      grid-column: 6;
    }

    & .utility-btn {
      height: 2rem;
      width: 2rem;
      border-radius: 8px;
      border: 1px solid #363636;
      background-color: var(--gray-800);
      color: var(--gray-400);
      transition: color 200ms ease-out;
      cursor: pointer;
      /* flexbox */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .utility-btn:hover {
      color: white;
    }
  }
}

/* On Mobile */

@media only screen and (max-width: 600px) {
  .main-wrapper main .home-post-container {
    height: 8rem;
    width: 100%;

    /* grid */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    & h3 {
      color: white;

      font-weight: 600;
      grid-row: 1;
      grid-column: 1/4;
    }

    & .description {
      color: var(--gray-400);

      font-weight: 400;
      grid-row: 2;
      grid-column: 1/4;
    }

    & .date {
      color: var(--gray-400);

      font-weight: 400;
      grid-row: 1;
      grid-column: 6;
    }
  }
}
